/*This is where all fucking CSS is going to go*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:500");
.customClickable:hover {
  cursor: pointer;
  color: #8e8e8e;
  transition: all 0.2s ease 0s;
}
.responsive {
  width: 100%;
  height: auto;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: white;
  color: #212529;
}
html {
  overflow-x: hidden;
}
/* Footer */
.footer-small {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  text-align: left;
}
footer {
  background-color: #212529;
  color: white;
  position: relative;
  padding-bottom: 2%;
}
footer a {
  color: white;
}
a {
  color: #8e8e8e;
}
a:not([href]) {
  color: #8e8e8e;
  cursor: pointer;
}
.pltBadge {
  height: 40px;
}
/*Hero*/
.hero {
  background-size: cover;
  background-position: center bottom;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: -70px;
  position: relative;
}
.hero > h1 {
  font-size: 50px;
}
#title-icon {
  border-radius: 15%;
}
#title-icon-container {
  padding-bottom: 3%;
}
#title-description {
  font-weight: 500;
  margin: 2%;
}
.seeMore {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  bottom: 7%;
}
.seeMore:hover {
  cursor: pointer;
  color: #8e8e8e;
  transition: all 0.2s ease 0s;
}
/*Don't show slider on PC*/
.pc-dev-slider {
  display: none;
}

.text-center {
  text-align: center;
}
.featuretext {
  font-family: "Montserrat";
  text-align: center;
  padding-top: 130px;
  padding-bottom: 40px;
}
.custom-navigation {
  background: transparent;
  height: 70px;
  width: 100%;
  position: relative;
  z-index: 1;
  font-family: "Montserrat";
  font-weight: 500;
}
.custom-navigation li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}
.custom-navigation li a:hover {
  color: #8e8e8e;
}
.custom-navigation #links {
  list-style: none;
  padding-top: 20px;
  font-size: large;
  cursor: pointer;
}
.custom-navigation #links,
#logo #navtext {
  display: inline-block;
  padding-left: 0;
}
.custom-navigation #navtext {
  padding-left: 10px;
  font-size: 25px;
  position: relative;
  bottom: 3px;
}
.custom-navigation #links > li {
  display: inline-block;
  padding: 10px;
}
/* Contact */
.contact {
  padding-bottom: 40px;
}
/*Footer iconbar*/
.bottom-iconbar {
  text-align: center;
  align-items: center;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
.pc-dev-container-footer {
  width: 50%;
  padding-top: 30px;
}
#hamburger,
#close {
  display: none;
}

/*Icon resizer*/
.pc-icon {
  font-size: 54px;
}

#img-code {
  height: 500px;
  margin-left: 30px;
  margin-bottom: 30px;
  display: block;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.75);
}
.img-code-textbox {
  height: 33.33%;
}
.software-textbox {
  text-align: justify;
  line-height: 22px;
}
/*Media Queries*/
@media (max-width: 767px) {
  .sm-dev-padding {
    padding-top: 80px;
  }
  .sm-dev-contact,
  .contact-text {
    font-size: 22px;
  }
  .sm-dev-icon {
    font-size: 50px;
    position: relative;
    top: 10px;
  }
  /*Show slider on Mobile*/
  .sm-dev-slider {
    display: inline;
  }
  /*Don't show interactive phone on moble*/
  .sm-dev-featuretextDisable {
    display: none;
  }

  /*Footer scaling for mobile*/
  .sm-dev-container-footer {
    width: 100%;
    padding-top: 0px;
    text-align: center;
    align-items: center;
  }
  .sm-dev-contact-text {
    padding-top: 10px;
  }
  .contact-text {
    position: relative;
    left: 10px;
    top: 10px;
  }
  .software-textbox {
    text-align: center;
    line-height: 22px;
  }

  /*Modile Navbar*/
  #hamburger,
  #close {
    position: fixed;
    top: 10px;
    right: 0;
    padding: 20px 25px;
    z-index: 99;
  }
  #hamburger {
    display: inline;
  }
  #img-code,
  #close,
  #img-left,
  #img-right {
    display: none;
  }
  .sm-first-feature-padding {
    padding-top: 20px;
  }

  .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    text-align: center;
  }
  .footer-small {
    position: relative;
    float: right;
    bottom: 0;
    right: 0;
    padding: 10px;
    text-align: left;
  }
}

/* Main background color styling */
/* #ffff72 */
.solid-container {
  background: white;
}
#img-left {
  width: 45%;
  height: auto;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
}
#img-right {
  width: 45%;
  height: auto;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
}
